<h2 class="text-center">Novo Treinador</h2>
<form name="cadastrarTreinador" class="mt-3 w-50 mx-auto" ng-submit="cadTrein.cadastrar(cadTrein.service.treinador)">
   <div class="form-group">
      <label for="nome" class="h6 mr-3">Nome: </label>
      <input type="text" name="nome" ng-model="cadTrein.service.treinador.nome" ng-required="true" class="form-control" />
   </div>
   <div class="form-group">
         <label for="nome" class="h6 mr-3">Senha: </label>
         <input type="password" name="senha" ng-model="cadTrein.service.treinador.senha" ng-required="true" class="form-control" />
   </div>
   <div class="form-group">
      <label for="cidadeTreinador">Cidade: </label>
      <select class="form-control" ng-model="cadTrein.service.treinador.cidade" ng-required="true" ng-options="cidade.nome for cidade in cadTrein.service.listaCidades track by cidade.cod"
         id="cidadeTreinador">
         <option value="">Selecione sua cidade</option>
      </select>
   </div>
   <div class="form-group">
      <label for="pokemonTreinador">Pokemon: </label>
      <select class="form-control" ng-model="cadTrein.service.treinador.pokemon" ng-required="true" ng-options="pokemon.nome for pokemon in cadTrein.pokemonService.listaPokemons track by pokemon.id"
         id="pokemonTreinador">
         <option value="">Selecione seu pokemon</option>
      </select>
   </div>
   <button type="submit" class="btn btn-info btn-block" ng-disabled="cadastrarTreinador.$invalid">Salvar</button>
</form>