<div class="row justify-content-md-center">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <form ng-submit="vm.cadastrar(vm.treinador)">
                    <div class="form-group">
                        <label>Nome</label>
                        <input class="form-control" ng-model="vm.treinador.nome" ng-required="true">
                    </div>
                    <div class="form-group">
                        <label>Idade</label>
                        <input class="form-control" ng-model="vm.treinador.idade" ng-required="true" type="number" min="0"
                            max="100">
                    </div>
                    <div class="form-group">
                        <label>E-mail</label>
                        <input class="form-control" ng-model="vm.treinador.usuario.email" ng-required="true" type="email">
                    </div>
                    <div class="form-group">
                        <label>Senha</label>
                        <input class="form-control" ng-model="vm.treinador.usuario.senha" ng-required="true" type="password">
                    </div>
                    <!-- Inserir Lista de Pokemons para Adicionar -->
                    <button class="btn btn-outline-success" type="submit">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>