<div class="row mTop5" ng-init="vm.init()">
    <div class="col">
        <form ng-submit="vm.cadastrar(vm.pokemon)">
            <div class="form-group">
                <label>Nome</label>
                <input class="form-control" ng-model="vm.pokemon.nome" ng-required="true">
            </div>
            <div class="form-group">
                <label>Tipo</label>
                <select class="form-control" ng-model="vm.pokemon.tipo" ng-change="vm.loading()" 
                    ng-options="tipo as tipo.descricao for tipo in vm.tipos"
                    ng-required="true">
                    <option value="">Selecione</option>
                </select>
            </div>
            <div class="form-group">
                <label>Level</label>
                <input class="form-control" ng-model="vm.pokemon.level" ng-required="true">
            </div>
            <div class="form-group">
                <button class="btn btn-outline-success" type="submit" ng-if="vm.pokemon.id == undefined">Cadastrar</button>
                <button class="btn btn-outline-success" ng-if="vm.pokemon.id != undefined" ng-click="vm.alterar(vm.pokemon)">Alterar</button>
                <button class="btn btn-outline-danger" ng-click="vm.voltar()">Cancelar</button>
            </div>
        </form>
    </div>
</div>