<div class="row" ng-init="vm.init()">
    <table class="table table-striped">
        <thead class="text-center">
            <th>Nome</th>
            <th>Idade</th>
            <th>E-mail</th>
            <th>Excluir</th>
        </thead>
        <tbody>
            <tr ng-repeat="treinador in vm.service.treinadores | limitTo: 150 track by $index">
                <td class="text-center" ng-bind="treinador.nome"></td>
                <td class="text-center" ng-bind="treinador.idade"></td>
                <td class="text-center" ng-bind="treinador.usuario.email"></td>
                <td class="text-center">
                    <pokemon-dropdown-menu id="{{'menu-' + $index}}">
                        <a class="dropdown-item" href="" ng-click="vm.editar(treinador, $index)">Editar</a>
                        <a class="dropdown-item" href="" data-toggle="modal" data-target="#modal-exclusao" ng-click="vm.treinadorSelecionado = treinador">Excluir</a>
                    </pokemon-dropdown-menu>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<pokemon-modal id-modal="modal-exclusao" title-modal="Confirmar"
    callback-confirmar="vm.excluir(vm.treinadorSelecionado)">
    <div class="row">
        <div class="col">
            Deseja excluir esse Treinador?
        </div>
    </div>
</pokemon-modal>