<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Primeira Aula</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/home/david/Documents/pokemon2/poke/projeto-cdi/WebContent/app/js/assets/angular.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="/home/david/Documents/pokemon2/poke/projeto-cdi/WebContent/app/js/app.js"></script>
    <script src="/home/david/Documents/pokemon2/poke/projeto-cdi/WebContent/app/js/directives/pokemon-dropdown-menu-directive.js"></script>
    <script src="/home/david/Documents/pokemon2/poke/projeto-cdi/WebContent/app/js/directives/pokemon-modal-directive.js"></script>
    <script src="/home/david/Documents/pokemon2/poke/projeto-cdi/WebContent/app/js/services/pokemon-service.js"></script>
    <script src="/home/david/Documents/pokemon2/poke/projeto-cdi/WebContent/app/js/controllers/pokemon-controller.js"></script>

<style>
        .mTop5 {
            margin-top: 5%;
        }
    </style>
</head>

<body ng-app="PokemonModule">
    <div class="container mTop5" ng-controller="PokemonController as vm">
        <div class="row">
            <label>{{$root.mensagem}}</label>
        </div>
        <div class="row">
            <table class="table table-stripped">
                <thead>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Level</th>
                    <th>Opções</th>
                </thead>
                <tbody>
                    <tr ng-repeat="pokemon in vm.service.pokemons">
                        <td ng-bind="pokemon.nome"></td>
                        <td>{{pokemon.descricaoTipo}} </td>
                        <td>{{pokemon.level}} </td>
                        <td>
                            <pokemon-menu-tooltip id="{{'menu-' + $index}}">
                                <a class="dropdown-item" href="" ng-click="vm.editar(pokemon, $index)">Editar</a>
                                <a class="dropdown-item" href="" ng-disabled="vm.pokemon.id === pokemon.id" 
                                 data-toggle="modal" data-target="#modal-exclusao">Excluir</a>
                            </pokemon-menu-tooltip>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <button class="btn btn-primary" ng-click="vm.novoPokemon()">[+] Adicionar Pokemon</button>
        </div>
        <div class="row mTop5" ng-show="vm.pokemon">
            <form ng-submit="vm.cadastrar(vm.pokemon)">
                <div class="form-group">
                    <label>Nome</label>
                    <input class="form-control" ng-model="vm.pokemon.nome" ng-required="true">
                </div>
                <div class="form-group">
                    <label>Tipo</label>
                    <select class="form-control" ng-model="vm.pokemon.tipo" ng-change="vm.loading()"
                        ng-options="tipo.codigo as tipo.descricao for tipo in vm.tipos" ng-required="true"></select>
                        <label>{{vm.carregando}}</label>
                </div>
                <div class="form-group">
                    <label>Level</label>
                    <input class="form-control" ng-model="vm.pokemon.level" ng-required="true">
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit" ng-if="!vm.pokemon.id">Cadastrar</button>
                    <button class="btn btn-success" ng-if="vm.pokemon.id" ng-click="vm.alterar(vm.pokemon)">Alterar</button>
                    <button class="btn btn-danger" ng-click="vm.limpar()">Cancelar</button>
                </div>
            </form>
        </div>
        <pokemon-modal id-modal="modal-exclusao" callback-confirmar="vm.excluir($index)">
            <div class="row">
                {{vm.mensagemExclusao}}
            </div>
        </pokemon-modal>
    </div>
</body>

</html>